body{
    background: -webkit-linear-gradient(90deg, #00000a,#00000a,#18273f,#00000a,#000000);
    background: linear-gradient(90deg, #00000a,#00000a,#18273f,#00000a,#000000);
}
h1{
    position: relative;
    left: 33rem;
    right: 50rem;
    color: white;
    margin-bottom: 1rem;
}
#accommodationForm
{
    display: flex;
    flex-direction: column;
    
    color: white;
}
.label
{
    font-size: x-large;
    margin-bottom: 1rem;
}
input{
    margin-right: 2rem;
    width: fit-content;
    margin-bottom: 3rem;

}
.btn
{
    font-size: medium;
width: fit-content;
}